<h1>Kind of a Blog</h1>
<p><%= link_to 'To the articles', controller: 'articles' %></p>
<p><%= link_to 'New article', new_article_path %></p>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Created</th>
    <th colspan="2"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td> <%= article.created_at.strftime("%B, %d, %Y") %> </td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= form_tag(articles_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
<%= submit_tag "Search", :name => nil %>
<% end %>
